body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

/* LIBRO */
.book {
  position: relative;
  width: 90%;
  max-width: 600px;
  height: 80vh;
  perspective: 2000px;
}

/* PÁGINAS */
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
  backface-visibility: hidden;
  transform-origin: left center;
  transform: rotateY(0deg);
  transition: transform 1s ease-in-out, box-shadow 1s ease;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page.flipped {
  transform: rotateY(-180deg);
  box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.2);
}

.page.show {
  z-index: 5;
}

.content {
  padding: 40px 25px;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  color: #111;
  margin-bottom: 15px;
}

p {
  color: #444;
  font-size: 1rem;
}

.version {
  display: block;
  margin-top: 20px;
  color: #666;
  font-size: 0.9rem;
}

/* BOTONES DE NAVEGACIÓN */
.buttons {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

button {
  background: #22c55e;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

button:hover {
  background: #16a34a;
}

/* BOTÓN PDF */
.pdf-btn {
  position: fixed;
  bottom: 30px;
  left: 25px;
  background: #2563eb;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
}

.pdf-btn:hover {
  background: #1d4ed8;
}

/* WHATSAPP */
.whatsapp-btn {
  position: fixed;
  bottom: 30px;
  right: 25px;
  width: 55px;
  height: 55px;
  background: #25D366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: white;
  text-decoration: none;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s ease;
}

.whatsapp-btn:hover {
  transform: scale(1.1);
  }
